* {

}

h1 {

}

.container {
  background-image:
    url(https://images.pexels.com/photos/1207875/pexels-photo-1207875.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  height:700px;
  margin: 0 auto;
  width:100%;
}

h1 {
  color: #fff;
  font-size:52px;
  position:relative;
  text-align:center;
  top:200px
}

button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #cc6699;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {background-color: #ac3973}

button:active {
background-color: #ac3973;
box-shadow: 0 5px #666;
transform: translateY(4px);
}



h1 {
  color: #fff;
  font-size:52px;
  position:relative;
  text-align:center;
}



@media screen and (max-width: 1440px) {
  body {
    background-color: #ff99ff;
}
}

@media screen and (max-width: 1000px) {
  body {
    background-color: #cc99ff;
}
}

@media screen and (max-width: 500px) {
  body {
    background-color: #99ccff;
}
}
