* {
background-color: #white;
}
body {background-color: #white;}
.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}

div {
    display: block;
}

h1 {font-family: 'Arimo', sans-serif;
    line-height: 40px;
    font-weight: bold;
    letter-spacing: -35px

    font-size: 40px;
}

.heading {
  margin-top: 97px;
  margin-left: 159px;
  margin-bottom: 20px;}

h2 {line-height: 36px;
    width: 292px;
    margin-left: 159px;
    font-family: 'PT Serif', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px
}


p {display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    width: 482px;
    height: 215px;
    margin-top: 473px;
    margin-bottom: 67px;
    margin-left: 159px;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px
  }

.website {
  margin-top: 10px;
  margin-left: 50px}

.image1 {
    margin-top: 45px;
    margin-bottom: 22px;
    margin-left: 43px;
}
.image2 {
    margin-bottom: 10px;
    margin-left: 43px;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}


.column {
  flex: 50%;
  padding: 10px;
  height: 300px;
}
