* {}

html {
  box-sizing: border-box;
}

a:link {
  text-decoration: underline;
  color: #C37A46;
}

.anchors {
  text-decoration: underline;
  color: ##707070;
}

h1 {
  font-family: 'Sansita Swashed', cursive;
  font-size: 52px;
  color: #965B35;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: #406E7C;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  color: #707070;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 19px;
  color: #707070;
}

.hot {
  width: 100%;
}

#menu img{
  width:100%;
}

.columns {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.columns_brown {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.locations_title {
  width: 85%;
  margin: 0 auto;
  padding: 3px;
}

.locations_addy {
  margin: 10px 10px 40px 0px;
}

.locations_and_hours {
  background-color: #262219
}

.locations_and_hours p {
  color: #AF8F69;
}

.locations_and_hours H1 {
  color: #F4EEDA;
}

.locations_and_hours a:link {
  color: #C37A46;
}

.reviews_title{
  width: 85%;
  margin: 0 auto;
}

.reviews_quotes {
  padding: 10px 10px;
}

.reviews {
  background-color: #262219
}

.reviews p {
  color: #AF8F69;
}

.reviews H1 {
  color: #F4EEDA;
}



.nav-bar: first-child, .nav-bar: first-child {
  padding: 10px 0px;
}

/* Desktop Styles */
@media only screen and (min-width:500px) {
  .column-block {
    width: 50%;
  }
  .nav-bar {
    display: flex;
    justify-content: space-around;
  }
  .nav-bar: first-child, .nav-bar: first-child {
    padding: 0px 0px;
  }
  .hot:{
    display:flex;
    display:inline-block;
    width:50%;
  }
  #menu img{
    width:30%;
  }
